body.tools_page_cleanup_dup_meta {

    .header-message {
        font-size: 15px;
        background-color: #ccc;
        padding: 10px;
        margin: 20px 0;
    }

    table,td,th {
        border: 1px solid #ccc;
    }

    td,th {
        padding: 10px;
    }
}


.cleanup-dup-container {

    margin: 20px 0;
    padding: 20px;

    .status {
        margin-top: 20px;
    }

    .message-cleanup,
    .message-count {
        padding: 10px;
        background-color: #ddd
    }
}